body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  width: auto;
}

h1 {
  color: #333;
}

.form {
  background: #fff;
  padding: 20px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], input[type="number"], textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #ff9800; /* Оранжевый цвет */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #e68900; /* Темно-оранжевый цвет при наведении */
}

.success {
  color: green;
}

.error {
  color: red;
}

.nav-links {
  margin-top: 20px;
}

.nav-links a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #ff9800; /* Оранжевый цвет */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #e68900; /* Темно-оранжевый цвет при наведении */
}

/* Стили для таблицы */
table {
  width: 90%; /* Уменьшена ширина таблицы */
  border-collapse: collapse;
  margin-top: 20px;
}

/* Стили для ячеек таблицы */
th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

/* Стили для заголовков таблицы */
th {
  background-color: #f2f2f2;
}

/* Стили для текстовых областей */
textarea {
  width: 98%;
  height: 100px; /* Задаем высоту для текстовой области */
  resize: vertical; /* Позволяем изменять высоту текстовой области */
}
