{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static 'css/styles.css' %}'>
    <title>Просмотр данных</title>
</head>
<body>
    <!-- Заголовок страницы -->
    <h1>Просмотр данных</h1>

    <!-- Блок для отображения сообщений об ошибках -->
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

  <table> 
          <tr> 
              <th>Название блюда</th> 
              <th>Ингредиенты</th> 
              <th>Инструкции</th>
              <th>Время приготовления</th> 
          </tr> 
          {% for entry in data %} <!-- Цикл по всем элементам данных -->
              <tr> 
                  <td>{{ entry.name }}</td> <!-- Ячейка с названием рецепта -->
                  <td>{{ entry.ingredients }}</td> <!-- Ячейка с ингредиентами -->
                  <td>{{ entry.instructions }}</td> <!-- Ячейка с инструкциями -->
                  <td>{{ entry.cooking_time }}</td> <!-- Ячейка с временем приготовления -->
              </tr> 
          {% endfor %} <!-- Конец цикла по данным -->
  </table> 
  <div class="nav-links">
        <a href="{% url 'xml_form' %}">Вернуться к форме</a> <!-- Ссылка для добавления студента -->
        <a href="{% url 'manage_xml' %}">Управление XML файлом</a> <!-- Ссылка для управления XML файлом -->
    </div>
</body> 
</html> 
