{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Скачать и Загрузить XML</title>
</head>
<body>
  <h1>Скачать и Загрузить XML файл</h1>
  <form method="GET" action="">
      <button type="submit" name="download">Скачать XML файл</button>
  </form>
  <hr>
  <h2>Загрузить XML файл</h2>
  {% if errors %}
      <div class="error">
          <p>Обнаружены ошибки:</p>
          <ul>
              {% for error in errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      </div>
  {% endif %}
  {% if success_message %}
      <div class="success">
          <p>{{ success_message }}</p>
      </div>
  {% endif %}
  <form method="POST" enctype="multipart/form-data" action="">
      {% csrf_token %}
      <input type="file" name="upload" accept=".xml" required>
      <button type="submit">Загрузить XML файл</button>
  </form>
  <div class="btn-container">
      <a href="{% url 'xml_form' %}">
          <button>Вернуться к форме</button>
      </a>
      <a href="{% url 'display_xml_data' %}">
          <button>Перейти к таблице данных</button>
      </a>
  </div>
</body>
</html>
