{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static 'css/styles.css' %}'>
    <title>Управление XML файлом</title>
</head>
<body>
  <h1>Скачать и Загрузить XML файл</h1> 
  <!-- Блок для отображения сообщений об успехе -->
  {% if success_message %}
  <p class="success">{{ success_message }}</p>
{% endif %}

<!-- Блок для отображения сообщений об ошибках -->
{% if errors %}
  <ul>
      {% for error in errors %}
          <li class="error">{{ error }}</li>
      {% endfor %}
  </ul>
{% endif %}

<!-- Форма для загрузки XML файла -->
<form method="post" enctype="multipart/form-data" class="form">
  {% csrf_token %} <!-- Токен для защиты от CSRF-атак -->
  <label for="upload">Загрузить XML файл:</label>
  <input type="file" name="upload" accept=".xml">
  <button type="submit">Загрузить</button>
</form>

<!-- Форма для скачивания XML файла -->
<form method="get" class="form">
  <button type="submit" name="download">Скачать XML файл</button>
</form>
      <div class="nav-links">
        <a href="{% url 'xml_form' %}">Вернуться к форме</a> <!-- Ссылка для добавления студента -->
        <a href="{% url 'display_xml_data' %}">Просмотреть данные</a> <!-- Ссылка для просмотра данных -->
    </div>
</body> 
</html>
