{% load static %} <!-- Загрузка тега static для работы с статическими файлами в Django -->
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Скачать и Загрузить XML</title>
</head> 
<body>
  <h1>Скачать и Загрузить XML файл</h1> 
  <form method="GET" action=""> <!-- Начало формы для отправки GET-запроса -->
      <button type="submit" name="download">Скачать XML файл</button> 
  </form> 
  <hr>
  <h2>Загрузить XML файл</h2>
  {% if errors %} <!-- Проверка наличия ошибок -->
      <div class="error"> 
          <p>Обнаружены ошибки:</p> 
          <ul> 
              {% for error in errors %} <!-- Цикл по всем ошибкам -->
                  <li>{{ error }}</li> <!-- Элемент списка с текстом ошибки -->
              {% endfor %} <!-- Конец цикла по ошибкам -->
          </ul> 
      </div> 
  {% endif %} <!-- Конец проверки наличия ошибок -->
  {% if success_message %} <!-- Проверка наличия сообщения об успешной операции -->
      <div class="success">
          <p>{{ success_message }}</p> <!-- Параграф с текстом сообщения об успехе -->
      </div> 
  {% endif %} <!-- Конец проверки наличия сообщения об успешной операции -->
  <form method="POST" enctype="multipart/form-data" action=""> <!-- Начало формы для отправки POST-запроса с файлом -->
      {% csrf_token %} <!-- Вставка CSRF-токена для защиты формы -->
      <input type="file" name="upload" accept=".xml" required> <!-- Поле для выбора файла с обязательным выбором и принимающим только XML файлы -->
      <button type="submit">Загрузить XML файл</button> 
  </form>
  <div class="btn-container"> 
      <a href="{% url 'xml_form' %}"> <!-- Ссылка на URL 'xml_form' -->
          <button>Вернуться к форме</button> 
      </a>
      <a href="{% url 'display_xml_data' %}"> <!-- Ссылка на URL 'display_xml_data' -->
          <button>Перейти к таблице данных</button>
      </a> 
  </div> 
</body> 
</html>
