{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static 'css/styles.css' %}'>   
    <title>Форма ввода данных</title> 
</head> 
<body>
    <h1>Форма ввода данных</h1>
     <!-- Блок для отображения сообщений об успехе или ошибке -->
     {% if success %}
     <p class="success">{{ message }}</p>
 {% elif message %}
     <p class="error">{{ message }}</p>
 {% endif %}

 <!-- Форма для добавления студента -->
 <form method="post" class="form">
     {% csrf_token %} <!-- Токен для защиты от CSRF-атак -->
     {{ form.as_p }} <!-- Отображение формы с использованием Django шаблонов -->
     <button type="submit" name='save_to' value='file'>Сохранить</button> <!-- Кнопка для отправки формы -->
     <button type="submit" name='save_to' value='database'>Сохранить в БД</button>
 </form>
 <div class="nav-links">
  <a href="{% url 'display_xml_data' %}">Просмотреть данные</a> <!-- Ссылка для просмотра данных -->
  <a href="{% url 'display_db_data' %}">Посмотреть данные в БД</a>
</div>
</body> 
</html> 
